# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
config.log
config.status
security
Makefile
security.cfg
configure.lineno
version.log.tmp
config.values
